body
{
    background-color:#414141;
    margin: 0px;
    font-family:'Trebuchet MS';
}

#static-bar
{
    width: 100%;
    position: fixed;
    top: 0px;
}

header
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    background-color: #212121;
    color:#70ae6e;
    height: 100px;
}

#top-left-logo 
{
    text-align:left;
    font-size:60px;
    text-decoration:underline;
    padding-left: 30px;
    margin-top: 10px;
}

#tagline
{
    text-align:right;
    padding: 0px 30px;
}

nav
{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    text-align: left;
    padding: 0px 30px;
    background-color: #292929;
    color:#486f46;
}

a {
    color: #486f46;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

.content {
    padding-top: 100px;
    text-align: left;
    color: #a9cbb7;
    margin: 50px;
}

.circle {
    border-radius: 50%;
    overflow: hidden;
    width: 280px;
    height: 280px;
    margin: 30px auto;
}
.round img {
    display: block;
    min-width: 100%;
    min-height: 100%;
}

#addresscontainer {
    margin: 0 auto;
    text-align: left;
    width: 200px;
    position: relative;
    left: 30px;
}

h1 {
    font-size: 300%;
}
